<div class="ui segment segment--customers">
  <h2 class="ui header">Customers Served</h2>
  <div class="ui search">
    <search (onUpdate)="updateSearch($event)">
    </search>
  </div>
  <app-customer class="ui cards cards--customers"
                *ngFor="let customer of (data?.queueData.customersServed | name:search)"
                [id]="customer.id"
                [name]="customer.name"
                [product]="customer.product"
                [status]="customer.status"
                [servedTime]="customer.servedTime"
                [notes]="customer.notes"
                (onUpdate)="onUpdate($event)">
  </app-customer>
</div>
