<div class="ui segment segment--customers">
  <h2 class="ui header">Customers</h2>
  <div class="ui search">
    <search (onUpdate)="updateSearch($event)">
    </search>
  </div>
  <app-customer class="ui cards cards--customers"
                *ngFor="let customer of (data?.queueData.customers | name:search | showPushBack)"
                [id]="customer.id"
                [name]="customer.name"
                [product]="customer.product"
                [status]="customer.status"
                [showPushBack]="customer.showPushBack"
                [notes]="customer.notes">
  </app-customer>
</div>
