$header-height: 160px;

// ==== CUSTOMERS ====

$column-list-min-height: 300px;

$segment--customers-min-height: 375px;


// ====



// ==== SHARED ====

// ==== SEARCH =====

$search-margin-bottom:  10px;
