<div id="customer-add"
     class="ui card card--customer">
  <div class="content">
    <form #f="ngForm"
          (ngSubmit)="onSubmit(f.value); f.reset();"
          class="ui form">
      <h2 class="ui header">New Customer</h2>
      <div class="field">
        <label for="name">Name</label>
        <div class="ui fluid small icon input">
          <input type="text"
                 id="name"
                 required="true"
                 name="name"
                 placeholder="Name"
                 ngModel>
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label for="mobile">Mobile</label>
        <div class="ui fluid small icon input">
          <input type="text"
                 id="mobile"
                 name="mobile"
                 placeholder="mobile"
                 ngModel>
          <i class="phone icon"></i>
        </div>
      </div>
      <div class="field">
        <label for="product">Product</label>
        <div class="ui fluid small icon input">
          <product-list
            id="product"
            (onChange)="updateProduct($event)"
            [products]="products"
            [selectedProduct]="product">
          </product-list>
          <i class="shop icon"></i>
        </div>
      </div>
      <div class="field">
        <label for="notes">Notes</label>
        <div class="ui fluid small icon input">
          <input type="text"
                 id="notes"
                 name="notes"
                 placeholder="notes"
                 ngModel>
          <i class="primary edit icon"></i>
        </div>
      </div>
      <div class="ui segment">
        <button type="submit"
                [disabled]="!f.valid"
                class="ui primary button"
                tabindex="0">
          <span>Add Customer</span>
        </button>
      </div>
    </form>
  </div>
</div>
