@import './css/partials/all';


.column--list {
  min-height: $column-list-min-height;
}

// ==== shared customers ====

.segment--customers {
  min-height: $segment--customers-min-height;
  max-height: calc(100vh - #{$header-height});
  overflow-y: scroll;
}


.search {
  margin-bottom: $search-margin-bottom;
}

.small {
  font-size: 85%;
}
