//@import './css/vendor/semantic.min';

$red: #FF4422;

.test {
  color: $red;
}
.column--list {
  min-height: 300px;
}


.segment--customers {
  min-height: 375px;
}


.search {
  margin-bottom: 10px;
}
