h1, header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  size: 12px;
  color: darkslategrey;
  text-transform: uppercase;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  size: 11px;
  color: darkslategrey;
}

.f9-customer {
  min-width: 300px;
  border: 1px solid darkslategrey;
  background-color: white;
  border-radius: 5px;
  padding-left: 10px;
}

#customer {
  width: 100%;
}
