<div class="ui card card--customer">
  <div class="content">
    <img class="right floated mini ui image" src="/assets/images/avatar/large/elliot.jpg">
    <div class="header">
      {{name}}
    </div>
    <div class="meta">
      <span>{{ status }}</span>
    </div>
    <div class="description">
      <p>{{product.name}}</p>
    </div>
    <div class="extra content">
      <div class="ui two buttons" *ngIf="status !== 'served'">
        <div class="ui basic green button" (click)="serve()">Serve</div>
        <div class="ui basic red button" (click)="remove()">Remove</div>
      </div>
    </div>
  </div>
</div>




